.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.sort_helper {
    background: #00809f;
  color: white;	
    display: flex;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
    flex-direction: column;
}

.segment_container {
}

.ui.four.statistics .statistic {
    max-width: 28%;
}

@media only screen and (max-width: 600px){
.ui.four.statistics .statistic {
    max-width: 100%;
	width: 100%;
}
}
.ui.button.toggle.active, .ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button {
background-color: #00809f !important;
}

.ui.button.toggle.active:hover{

background-color: #00809f !important;
}

.ui.labeled.icon.button>.icon, .ui.labeled.icon.buttons>.button>.icon {
background: rgba(0,0,0,0)
}

.ui.primary.button, .ui.primary.buttons .button{

background-color: #00809f !important;
}

.ui.basic.button, .ui.basic.buttons .button{
	min-width: 200px;
    margin-bottom: 10px;
}

/*table tr:nth-child(2) {*/
    /*background: #ffffb2 !important;*/
/*}*/

/*table tr:nth-child(3) {*/
    /*background: #fecc5c !important;*/
/*}*/


/*table tr:nth-child(4) {*/
    /*background: #fd8d3c !important;*/
/*}*/


/*table tr:nth-child(5) {*/
    /*background: #f03b20 !important;*/
/*}*/


/*table tr:nth-child(6) {*/
    /*background: #bd0026 !important;*/
/*}*/

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
